<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/estilosTabla.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Escuela</title>
</head>
<body>
    <header>
        <nav>
            <a href="">
                <img src="/assent/img/Menú-hamburguesa-herramienta-practica-o-icono-inutil.png" alt="">
                <h2>Menu</h2>
            </a>
        </nav>
        <div class="header-loginProfes">
            <div class="loginProfes-text">
                <h2>Apellido Apellido</h2>
                <h2>NOMBRE PROFESOR</h2>
            </div>
            <div class="img-profe">
            </div>
        </div>
    </header>
    <main>
        <section class="main-container">
            <section class="main-informacion">
                <h3>informacion</h3><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, dolorum expedita.</p>
            </section>
            <section class="main-tabla">
                <div href="" class="alumno">
                    <div class="alumno-nombre">
                        <h2>Nombre</h2>
                    </div>
                    <div class="nota1">P1</div>
                    <div class="nota2">P2</div>
                    <div class="nota3">P3</div>
                    <div class="nota4">P4</div>
                    <div class="nota5">PROM</div>
                </div>
                <a href="" class="alumno1">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno2">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno3">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno4">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno5">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno6">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno7">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno8">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno9">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno10">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="" class="alumno11">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                
                <a href="" class="alumno12">
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
            </section>
        </section>
    </main>
</body>
</html>